[project]
	description = Identify email addresses or domains names that belong to colleges or universities. Help automate the process of approving or rejecting academic discounts.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Elidjon Grembi (elephantsy)
[access "refs/for/refs/*"]
	read = group user/Elidjon Grembi (elephantsy)
	push = group user/Elidjon Grembi (elephantsy)
	label-Code-Review = -2..+2 group user/Elidjon Grembi (elephantsy)
	label-Verified = -1..+1 group user/Elidjon Grembi (elephantsy)
	rebase = group user/Elidjon Grembi (elephantsy)
	removeReviewer = group user/Elidjon Grembi (elephantsy)
	submit = group user/Elidjon Grembi (elephantsy)
[access "refs/heads/*"]
	read = group user/Elidjon Grembi (elephantsy)
	create = group user/Elidjon Grembi (elephantsy)
	push = +force group user/Elidjon Grembi (elephantsy)
	pushMerge = group user/Elidjon Grembi (elephantsy)
[access "refs/tags/*"]
	push = +force group user/Elidjon Grembi (elephantsy)
	pushTag = group user/Elidjon Grembi (elephantsy)
	pushSignedTag = group user/Elidjon Grembi (elephantsy)
